pysqlite3-binary
streamlit
langchain
langchain-community
openai
anthropic
pytube
youtube-transcript-api
chromadb
tiktoken
streamlit-arabic-support-wrapper
protobuf==3.20.0
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
httplib2
certifi
isodate
requests
yt-dlp
